/* Getting the new tags to behave */

article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video { display: block; }

mark, rp, rt, ruby, summary, time { display: inline; }


/* Site-wide properties ======================================================== */

body { background-color: #E9E9E9; color: #292524; font: normal normal 13px/20px 'Century Gothic', Arial, Helvetica, Verdana, sans-serif; }
    
    /* Fibonacci based heading scale ratio */

    h1 { font-size: 4.4em; font-weight: normal; }
    h2 { font-size: 2.8em; font-weight: bold; }
    h3 { font-size: 1.6em; font-weight: bold; }
    h4 { font-size: 1.2em; font-weight: bold; }

		/* links */
		
		a:link, a:visited { color: #292524; }
		a:hover, a:active { color: #23D2FD; }

/* Reusable classes ============================================================ */

/* Left & Right alignment */

.left { float: left; }
.right { float: right; }
.clear:after { clear: both; content: " "; display: block; font-size: 0; height: 0; visibility: hidden; }


/* Basic Structure ============================================================= */


    /* Header */

    header { border-bottom: 1px solid #000; float: left; width: 100%; }
			header #header-wrap { margin: 0 auto; position: relative; width: 960px; }
			header #logo-wrap { float: left; margin: 20px 0 0 0; padding: 10px 106px 10px 0; }
			header #logo-wrap h1 { font-size: 83px; font-weight: bold; margin: 15px 0 30px 0; }
			header #logo-wrap h2 { color: #999; font-size: 21px; font-weight: 100; }
			header #logo-wrap a:link, header #logo-wrap a:visited, header #logo-wrap a:hover, header #logo-wrap a:active  { color: #292524; }
			
			header #funds { float: right; margin: 20px 0 0 0; }
			header #funds li { display: block; float: left; padding: 10px 20px; width: 165px; }
			header #funds li a { float: left; margin: 30px -41px 0 0; }
			
			header #login { font-size: 11px; left: 500px; position: absolute; top: 0; }
			header #login li { float: left; }
			header #login #current-state { margin: 0 15px 0 0; }
			

    /* Content */

		#content-wrap { position: relative; width: 100%; }
			
			#slideshow-wrap { border-bottom: 1px solid #000; float: left; margin: 0 0 10px 0; padding: 0 0 25px 0; width: 100%; }
				#slideshow-inner { height: 355px; margin: 20px auto 0 auto; position: relative; width: 960px; }
		
			#cat-wrap { border-bottom: 1px solid #000; border-top: 1px solid #000; float: left; margin: 40px 0 0 0; padding: 5px 0; width: 100%; }
				#categories { margin: 0 auto; width: 960px; }
				#categories li { border-right: 1px solid #000; display: inline; font-size: 18px; font-weight: bold; text-transform: lowercase; margin: 0 23px 0 0; padding: 0 23px 0 0; }
				#categories li:last-child { border-right: none; margin: 0; padding: 0; }
				#categories #cat-title { font-size: 20px; text-transform: uppercase; }
				
			#ticker-wrap { float: left; margin: 60px 0 0 0; width: 100%; }
				#ticker { color: #565658; margin: 0 auto; font-size: 19px; text-align: center; text-transform: uppercase; width: 960px; }
				#ticker span { color: #23D2FD; }
				
				
			#featured-wrap { float: left; width: 100%; }
				#featured-wrap ul { margin: 40px auto 0 auto; width: 960px; }
				#featured-wrap li { display: block; float: left; height: 230px; margin: 0 32px 0 0; padding: 10px; position: relative; width: 196px; } 
				#featured-wrap li:last-child { margin: 0; }
				#featured-wrap h4 { font-weight: 100; margin: 0 0 5px 0; }
				#featured-wrap li img { height: auto; width: 190px; }
				#featured-wrap li .featured-img { border: 1px solid #777; display: block; height: 140px; overflow: hidden; padding: 2px; width: 190px; }
				#featured-wrap .caption { background: rgba(0, 0, 0, 0.6); color: #f8f8f8; display: block; left: 13px; padding: 5px 0 5px 5px; position: absolute; top: 148px; width: 185px; }
				
    
        
    /* Footer */
    
		footer { background-color: #292524; border-top: 2px solid #111; color: #f8f8f8; float: left; margin: 50px 0 0 0; padding: 0 0 50px 0; width: 100%; }
			#footer-wrap { margin: 0 auto; width: 960px; }
			#footer-wrap #footer-cat-wrap { margin: 30px 0 0 0; }
			#footer-wrap li.title { border-right: 3px solid #444; display: block; float: left; font-size: 12px; margin: 0 27px 0 0; padding: 10px 30px 10px 0; text-transform: uppercase; width: 190px; }
			#footer-wrap li.title:last-child { border-right: none; margin: 0; padding-right: 0; }
			#footer-wrap a:link, #footer-wrap a:visited { color: #f8f8f8; }
			#footer-wrap a:hover, #footer-wrap a:active { color: #23D2FD; }
			#footer-wrap address { font-style: normal; }
			
			#footer-wrap ul li ul { border-top: 2px solid #444; font-size: 11px; padding: 10px 0 0 0; text-transform: none; }
			
			#footer-wrap #facebook li { border-bottom: 2px solid #333; margin: 0 0 5px 0; padding: 0 0 5px 0; }
			#footer-wrap #facebook li .like { clear: none; float: left; }
			
			#footer-wrap #twitter li { border-bottom: 2px solid #333; margin: 0 0 5px 0; padding: 0 0 5px 0; }
			#footer-wrap #twitter li span.org-day { float: left; width: 100%; }
			#footer-wrap #twitter li span.org-meta { color: #23D2FD; float: left; width: 100%; }
			#footer-wrap #twitter li span.org-meta a:link, #footer-wrap #twitter li span.org-meta a:visited { color: #23D2FD; }
			#footer-wrap #twitter li span.org-meta a:hover, #footer-wrap #twitter li span.org-meta a:active { color: #f8f8f8; }
		
    
/* Project specifics =========================================================== */

			
			/* Volunteer Page */
			#content { margin: 0 auto; width: 960px; }
			
			#volunteer #bio { float: left; margin: 35px 0 0 0; width: 700px; }
			#volunteer #bio #bio-right { float: left; margin: 10px 0 0 0; padding: 0 5px 0 0; width: 430px; } 
			#volunteer #bio #bio-left { float: left; margin: 5px 0 0 0; width: 245px; }
			#volunteer #bio #placeholder { border: 3px solid #fff; display: block; float: left; height: 200px; margin: 10px 0 0 0; width: 200px; }
			#volunteer #bio h3 { font-size: 30px; }
			#volunteer #bio h4 { color: #23D2FD; font-style: italic; font-weight: normal; margin: 8px 0 0 0; }
			#volunteer #bio-right h5 { font-size: 17px; font-weight: normal; margin: 0 0 -5px 0; }
			#volunteer #bio-right p { margin: 10px 0 0 0; }
			
			#volunteer #featured-wrap ul { margin: 40px 0 0 0; width: 430px; }
			#volunteer #featured-wrap li { margin: 0 19px 0 0; padding: 0; }
			#volunteer #featured-wrap .caption { left: 3px; top: 138px; }
			
			
			#volunteer #medals { float: left; margin: 10px 0 0 0; }
			#volunteer #medals p { font-size: 11px; }
			#volunteer #medals li { float: left; }
			
			#volunteer #rank { float: left; margin: 20px 0 0 0; }
			#volunteer #rank p { font-size: 11px; }
			#volunteer #rank li { float: left; }
			
			#volunteer #count { float: left; margin: 20px 0 0 0; width: 245px; }
			#volunteer #count li { font-size: 11px; }
			
			#volunteer #contact { float: left; margin: 40px 0 0 0; }
			#volunteer #contact li { font-size: 14px; margin: 0 0 20px 0; }
			
			#volunteer aside { background-color: #ccc; float: right; height: 100%; margin: 0 0 0 10px; padding: 30px 10px 50px 10px; width: 220px; }

			#volunteer aside #calender { border: 2px solid #fff; display: block; height: 200px; margin: 10px auto 10px auto; width: 200px; }
			#volunteer aside li { font-size: 9px; margin: 0 0 0 20px; }
			
			#volunteer aside #funded { float: left; margin: 30px 0 0 0; }
			#volunteer aside #funded li { display: block; height: 30px; float: left; margin: 10px 10px 0 10px; width: 30px; border: 1px solid #000; }
			#volunteer aside #funded p a { float: right; font-size: 10px; margin: 5px 20px 0 0; } 
			
			#volunteer aside #volunteered-for { float: left; margin: 30px 0 0 0; }
			#volunteer aside #volunteered-for li { display: block; height: 30px; float: left; margin: 10px 10px 0 10px; width: 30px; border: 1px solid #000; }
			#volunteer aside #volunteered-for p a { float: right; font-size: 10px; margin: 5px 20px 0 0; } 
			
			#volunteer footer { margin: 0;}

/* Pour some CSS below ========================================================= */

